# 基础科学计算
pandas
numpy
tqdm
requests
h5py
xarray
dask
scikit-image
scikit-learn
matplotlib
opencv-python
pymannkendall

# GIS / 遥感处理
geopandas
shapely
geopy
rasterio
geemap
earthengine-api
osmnx
GDAL==3.6.4

# LangChain & Agent 框架
langchain
langgraph
langchain-community
langchain-experimental
langchain-anthropic
langchain-openai
langchain-chroma
langchain_google_community
langchain_tavily
langgraph_supervisor

# Web & UI
streamlit
js

# 其它工具
pydantic
ipython
satpy
pyresample
